if SHIELD_MYMOUSE_DONGLE
config ZMK_KEYBOARD_NAME
    default "mymouse"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT
    default y
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1
config BT_MAX_CONN
    default 2
config BT_MAX_PAIRED
    default 2
endif
