#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &mkp MB1
                &mkp MB2
                &mkp MB3
                &mkp MB4
                &mkp MB5
            >;
        };
    };
};