#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // This maps to the RC(0,0) we defined in the overlay
            bindings = <
                &kp LCLK
            >;
        };
    };
};