#include <zephyr/dt-bindings/input/input-event-codes.h>
/* ADD THIS LINE TO FIX THE PARSE ERROR */
#include <dt-bindings/zmk/matrix_transform.h> 

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,physical-layout = &mymouse_layout;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    /* This maps your physical button to the keymap */
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;
        map = <RC(0,0)>; 
    };

    mymouse_layout: mymouse_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
    };
};

/* Rest of your existing &pinctrl and &spi0 blocks */
&pinctrl {
    /* ... your existing config ... */
};

&spi0 {
    /* ... your existing config ... */
    trackball: trackball@0 {
        /* ... your existing config ... */
    };
};